<div class="container">
  <h2>Mis Productos</h2>
  <br><br>

  <!-- Botón para agregar producto -->
  <div class="text-right mb-4">
    <button class="btn btn-primary btn-lg" (click)="agregarProducto()">
      <i class="fas fa-plus-circle"></i> Agregar Producto
    </button>
  </div>


  <div class="row">
    <div *ngFor="let producto of productos" class="col-md-4 mb-4">
      <div class="card">
        <!-- Carrusel de imágenes del producto -->
        <p-carousel
          [value]="producto.archivos"
          [circular]="true"
          [autoplayInterval]="4000"
          [numVisible]="1"
          [numScroll]="1"
          [responsiveOptions]="responsiveOptions"
          class="custom-carousel"
        >
          <ng-template pTemplate="item" let-archivo>
            <div class="carousel-item">
              <img
                [src]="archivo.ruta"
                class="d-block w-100 product-img"
                alt="Producto {{ producto.nombre }}"
              />
            </div>
          </ng-template>
        </p-carousel>

        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{ producto.nombre }}</h5>
          <p class="card-text">Precio: Bs{{ producto.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
